@charset "utf-8";
.content{
	border: 1px solid #ddd;
	overflow: scroll;
}
.answer_item{
	width: 60%;
	margin-left: 20%;
	padding:10px;
	border-bottom: 2px solid #ddd;
}
.answer_item_main{
	text-indent: 2em;
}
.page_chage{
	margin-left: 42%;
}
.answer_item_accept {
	background-color: #89EC6A;
}

textarea{  
    border:0;  
    background-color:transparent;  
    color: #666464;  
    height: auto;  
}  
form{
	padding-left: 20%;
}