<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.activity.dao.AnswerMapper" >
  <resultMap id="BaseResultMap" type="cn.activity.domain.Answer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="likes" property="likes" jdbcType="INTEGER" />
    <result column="last_like" property="lastLike" jdbcType="INTEGER" />
    <result column="help_id" property="helpId" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="INTEGER" />
    <result column="last_comment" property="lastComment" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from answer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.activity.domain.Answer" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into answer (id, user_id, likes, 
      last_like, help_id, comment, 
      last_comment, content)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{likes,jdbcType=INTEGER}, 
      #{lastLike,jdbcType=INTEGER}, #{helpId,jdbcType=INTEGER}, #{comment,jdbcType=INTEGER}, 
      #{lastComment,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.activity.domain.Answer" >
    update answer
    set user_id = #{userId,jdbcType=INTEGER},
      likes = #{likes,jdbcType=INTEGER},
      last_like = #{lastLike,jdbcType=INTEGER},
      help_id = #{helpId,jdbcType=INTEGER},
      comment = #{comment,jdbcType=INTEGER},
      last_comment = #{lastComment,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, user_id, likes, last_like, help_id, comment, last_comment, content
    from answer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, likes, last_like, help_id, comment, last_comment, content
    from answer
  </select>
</mapper>