<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.activity.dao.WorksMapper" >
  <resultMap id="BaseResultMap" type="cn.activity.domain.Works" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="singer_id" property="singerId" jdbcType="INTEGER" />
    <result column="singer_name" property="singerName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="head" property="head" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="book_price" property="bookPrice" jdbcType="DECIMAL" />
    <result column="book_isbn" property="bookIsbn" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="public_date" property="publicDate" jdbcType="DATE" />
    <result column="introduce" property="introduce" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from works
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.activity.domain.Works" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into works (id, singer_id, singer_name, 
      type, name, score, 
      head, company, book_price, 
      book_isbn, create_date, area, 
      public_date, introduce)
    values (#{id,jdbcType=INTEGER}, #{singerId,jdbcType=INTEGER}, #{singerName,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, 
      #{head,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{bookPrice,jdbcType=DECIMAL}, 
      #{bookIsbn,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{area,jdbcType=VARCHAR}, 
      #{publicDate,jdbcType=DATE}, #{introduce,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.activity.domain.Works" >
    update works
    set singer_id = #{singerId,jdbcType=INTEGER},
      singer_name = #{singerName,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      head = #{head,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      book_price = #{bookPrice,jdbcType=DECIMAL},
      book_isbn = #{bookIsbn,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      area = #{area,jdbcType=VARCHAR},
      public_date = #{publicDate,jdbcType=DATE},
      introduce = #{introduce,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, singer_id, singer_name, type, name, score, head, company, book_price, 
    book_isbn, create_date, area, public_date, introduce
    from works
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, singer_id, singer_name, type, name, score, head, company, book_price, 
    book_isbn, create_date, area, public_date, introduce
    from works
  </select>
</mapper>